/* 1 rem = 1 em = 16px . We use em due to some bug  */

/*******************************/
/*******************************/
/* Clocks out at 1360px */
/*******************************/
/*******************************/
@media (max-width: 85em) {
  .hero-container {
    max-width: 120rem;
  }
  .primary-heading {
    font-size: 4.2rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .working-process-section {
    padding: 11rem 3.3rem;
  }
}
/*******************************/
/*******************************/
/* Clocks out at 1200px */
/*******************************/
/*******************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 6rem;
    row-gap: 6.8rem;
  }
  .working-process-section {
    padding: 11rem 2.6rem 5.4rem 2.6rem;
  }
  .section-meal {
    padding: 5.4rem 0 6.8rem 0;
  }
  .secondary-heading,
  .testimonial-heading {
    font-size: 3.3rem;
  }
  .tertiary-heading,
  .meals,
  .diet-heading,
  .feature-heading {
    font-size: 2rem;
  }
  .section-test-gallery {
    padding: 2rem 1.4rem 1.6rem 5.4rem;
  }
  .hero-section-img img {
    width: 100%;
  }
  .customer-img img {
    width: 4.2rem;
    height: 4.2rem;
  }
  .customers {
    margin-top: 5.4rem;
  }
}
/*******************************/
/*******************************/
/* Clocks out at 952px */
/*******************************/
/*******************************/
@media (max-width: 59.5em) {
  html {
    font-size: 50%;
  }
  .hero-container {
    grid-template-columns: 1fr;
  }
  .hero-section-img img {
    width: 60%;
  }
  .section-hero {
    text-align: center;
  }
  .customers {
    justify-content: center;
  }
  .hero-container {
    padding: 0 6.4rem;
  }
  .featured-logos img {
    height: 2.6rem;
  }
  .step-number {
    font-size: 6.8rem;
    margin-bottom: 2.6rem;
  }
  .tertiary-heading {
    margin-bottom: 2rem;
  }
  .grid.grid-2-cols.adaptive {
    grid-template-columns: 1fr;
    gap: 7.8rem;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .section-test-gallery {
    padding: 2rem 2rem 1.6rem 2rem;
  }
  .testimonial-heading {
    margin-bottom: 2.6rem;
  }
  .cta {
    grid-template-columns: 3fr 2.6fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    padding-top: 1rem;
  }
  .form-btn {
    height: 100%;
    padding: 1.6rem 3.3rem;
  }
  .cta-form label {
    margin-bottom: 0.8rem;
  }
  .feature-tile {
    padding: 2rem 2.6rem;
  }
  .recipe-content {
    padding: 3.3rem 3.3rem 2.6rem 2.6em;
  }
  .pricing-2::after {
    top: 6%;
    right: -27%;
  }
  .mobile-nav {
    display: block;
  }

  .navigation {
    /* Correct way to set opacity 0 */
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #fffffff7;
    width: 100%;
    height: 100vh;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu-btn {
    display: block;
  }
  .close-btn {
    display: none;
  }
  .main-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.4rem;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navigation.mobile-nav-open {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fffffff7;
    width: 100%;
    height: 100vh;
  }
  .mobile-nav-open .menu-btn {
    display: none;
  }
  .mobile-nav-open .close-btn {
    display: block;
  }

  .mobile-nav-open .nav-link:link,
  .mobile-nav-open .nav-link:visited {
    font-size: 3.3rem;
  }
}
/*******************************/
/*******************************/
/* Clocks out at 748px */
/*******************************/
/*******************************/
@media (max-width: 46.75em) {
  .grid-3-cols,
  .grid-4-cols,
  .feature-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .diet {
    grid-column: 1/-1;
    justify-self: center;
  }
  .diet-heading {
    font-size: 2rem;
  }
  .diet-list-items {
    font-size: 1.8rem;
  }
  .secondary-heading {
    font-size: 2.6rem;
    margin-bottom: 6.8rem;
  }
  .section-feature {
    padding-bottom: 5.4rem;
  }
  .pricing {
    width: 70%;
  }
  .pricing-plans {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .pricing-1 {
    justify-self: center;
  }
  .pricing-2 {
    justify-self: center;
  }
  .pricing-header {
    text-align: center;
  }
  .cta {
    grid-template-rows: 40fr 60fr;
    grid-template-columns: 1fr;
  }
  .cta-img {
    grid-row: 1;
    background-position-y: center;
  }
  .form-btn {
    width: 50%;
    height: 70%;
    margin-top: 2.6rem;
    justify-self: center;
    align-self: center;
  }
  .section-footer {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 4.2rem;
  }
  .nav-footer {
    grid-row: 1;
    grid-column: span 2;
  }
  .logos-icons,
  .Address {
    grid-column: span 3;
  }
  .featured-logos img {
    height: 1.6rem;
  }
  .feature {
    font-size: 1rem;
  }
}
/*******************************/
/*******************************/
/* Clocks out at 520px */
/*******************************/
/*******************************/
@media (max-width: 34.5em) {
  html {
    font-size: 43.75%;
  }
  .grid-3-cols,
  .grid-2-cols .grid-4-cols,
  .feature-container,
  .grid-2-cols-center {
    grid-template-columns: 1fr;
  }
  .hero-container {
    padding: 0 3.3rem;
  }
  .container {
    padding: 0 2.6rem;
  }
  .step-img-box {
    grid-row: 1;
  }
  .step-img-box img {
    height: 70%;
  }
  .primary-heading {
    padding: 0 1.4rem;
  }
  .section-meal-heading {
    font-size: 2.4rem;
    text-align: center;
  }
  .secondary-heading {
    font-size: 2.5rem;
  }
  .grid {
    row-gap: 3.3rem;
  }
  .recipes {
    width: 80%;
    justify-self: center;
  }
  .diet {
    margin-top: 3.3rem;
  }
  .container.feature-logos {
    padding: 0 1.6rem;
  }
  .testimonials {
    padding-top: 4.2rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
  }
  .feature-heading,
  .icon-container {
    margin-bottom: 1.4rem;
  }
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.6rem;
    border-radius: 11px;
  }
  .primary-heading {
    font-size: 3.3rem;
  }
  .feature-tile {
    width: 60%;
    justify-self: center;
    padding-top: 2.2rem;
  }
  .section-pricing {
    padding-top: 8.7rem;
  }
  .footer-logo {
    width: 80%;
  }
  .mobile-nav {
    right: 0.6rem;
    top: 0.4rem;
    position: absolute;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 40.625%;
  }
  .primary-heading {
    padding: 0 2.6rem;
  }
  .hero-section-img img {
    width: 100%;
  }
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.2rem;
    border-radius: 9px;
  }
  .primary-btn:link,
  .primary-btn:visited {
    padding: 2.6rem 1.6rem;
  }
  .container {
    padding: 0 2.2rem;
  }
  .customer-text {
    font-size: 1.6rem;
  }
  .featured-logos img {
    height: 1.4rem;
  }
  .pricing {
    width: 85%;
  }
  .cta {
    height: 60%;
    grid-template-rows: 30fr 70fr;
    grid-template-columns: 1fr;
  }
  .form-btn {
    width: 55%;
  }
  .title-footer {
    font-size: 1.4rem;
  }
  .footer-logo {
    height: 50%;
  }
  .icon-inner,
  .ionicon {
    display: block;
    height: 60%;
    width: 60%;
  }
  .social-links {
    gap: 1.1rem;
  }
}
